

.google-img {
    width: 200px;
    max-width: 250px;
    box-shadow: 0px 0px 45px 20px rgba(0, 0, 0, 0.253);
    border-radius: 20px;
    cursor: pointer;
}

.google-reviews-container {
    padding: 3rem 0;
}

.google-reviews {
    display: flex;
    justify-content: space-around;
    align-items: top;
    padding: 3rem 1rem;
    width: 80%;
    min-height: 10vh;
    margin: 0 auto;
}
.google-click-for-more-btn {
    background-color: rgb(57, 143, 17);
    padding: 1rem 3rem;
    font-size: large;
    font-family: sans-serif;
    font-weight: 500;
    width: 40%;
    margin: 0 auto;
    border-radius: 30px;
}

.google-reviews img {
    width: 110px;
    margin: 0;
    padding: 0;
}

.google-reviews-text {
    font-size: small;
    padding: 1rem 20px;
    text-align: left;
    background-color: rgb(230, 230, 230);
    margin: 0 10px;
    border-radius: 30px;
    min-width: 30%;
}


a:visited, button {
    border: none;
    text-decoration: none;
    outline: none;
    font-size: x-large;
    cursor: pointer;
    margin: 0;
    background-color: rgba(240, 248, 255, 0);
}
.google-reviews-img-div {
    background-color: rgba(240, 248, 255, 0);
    border-radius: 20px;
    margin: 0;
}

.google-close-btn {
    font-size: x-large;
    cursor: pointer;
    font-weight: 700;
    color: red;
    
}

@media only screen and (max-width: 1000px) {
    .google-reviews {
        display: block;
        width: 100%;
    }
    .google-reviews-text {
        margin: 1rem;
    }
    .google-click-for-more-btn {
        width: 70%;
    }
}


@media only screen and (max-width: 700px) {
    
    .google-click-for-more-btn {
        width: 90%;
        font-size: small;
    }
}



@media only screen and (max-width: 600px) {
    .google-img {
        width: 120px;
    }
    .google-reviews {
        right: 17%;
        top: 74%;
    }
}